# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

# IntelliJ project files
.idea

.DS_Store
_extensions

# Eclipse JDTLS
bin/
.classpath
.project
.settings/
